<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
</head>
<body>
    <div class="loader">
        <div id="black"><h1>THE ONLY APP <br>YOU NEED</h1></div>
        <div id="ash"></div>
    </div>
    <header>
        <div class="logo">CAT BURGLAR.</div>
        <div class="buttons">
            <ul>
                <li><a href="/" class="active">HOME</a></li>
                <li><a href="#">SUPPORT</a></li>
                <li><a href="#">ABOUT</a></li>
                <li><a href="/login">LOGIN</a></li>
            </ul>
        </div>
    </header>
    <div class="container">
        <div class="box">
            <div class="typewriter">
                Start<span id="text"></span>
                <span class="cursor">|</span>
            </div>
            your income <br>and Expenses<br>
            with <span>Cat Burglar </span>
            <a href="/login"><button>LET'S GO!</button></a>
        </div>
        <div class="image">
            <img src="/images/money.jfif" alt="">
        </div> 
    </div>
    <script src="/javascripts/script.js"></script>
</body>
</html>